<nav class="bg-white border-b border-gray-100 sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0 flex items-center">
        <span class="text-2xl font-black text-fit-accent tracking-tighter">FIT<span class="text-fit-dark">CONNECT</span></span>
      </div>
      
      <div class="hidden md:flex space-x-8 items-center font-medium">
        <a routerLink="/" class="text-gray-600 hover:text-fit-accent transition">Inicio</a>
        <a routerLink="/contact" class="text-gray-600 hover:text-fit-accent transition">Contacto</a>
        <a routerLink="/login" class="bg-fit-dark text-white px-5 py-2 rounded-full hover:bg-opacity-90 transition shadow-lg text-sm">
          Acceso Entrenadores
        </a>
      </div>
    </div>
  </div>
</nav>